@charset "UTF-8";

// 导入core中的基础文件
//-----------------------------------------------------
@import "core/_settings";
@import "core/_mixin";
@import "core/_reset";
@import "_iconfonts";
@import "transitions";

html,
body,
#app,
#app>.el-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.ltw-clear{
    clear:both;
    width: 100%;
    overflow: hidden;
}
.ltw-line{
    border-bottom: 5px solid #ddd;
    height: 20px;
}
.page-root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.page-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px
    }

    &:hover::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 53%, .4)
    }

    &:hover::-webkit-scrollbar-track {
        background: hsla(0, 0%, 53%, .1)
    }
}

.page-content {
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}

.bgColor-1 {
    background: #ff1744;
}

.bgColor-2 {
    background: #F50057;
}

.bgColor-3 {
    background: #D500F9;
}

.bgColor-4 {
    background: #651FFF;
}

.bgColor-5 {
    background: #3D5AFE;
}

.bgColor-6 {
    background: #2979FF;
}

.bgColor-7 {
    background: #00B0FF;
}

.bgColor-8 {
    background: #00E5FF;
}

.bgColor-9 {
    background: #1DE9B6;
}

.bgColor-10 {
    background: #00E676;
}

.bgColor-11 {
    background: #76FF03;
}

.bgColor-12 {
    background: #C6FF00;
}

.bgColor-13 {
    background: #FFEA00;
}

.bgColor-14 {
    background: #FFC400;
}

.bgColor-15 {
    background: #FF9100;
}

.bgColor-16 {
    background: #FF3D00;
}

.bgColor-17 {
    background: #795548;
}

.bgColor-18 {
    background: #9E9E9E;
}

.bgColor-19 {
    background: #607D8B;
}

.bgColor-20 {
    background: #131418;
}

.bgColor-21 {
    background: #00c300;
}

.bgColor-22 {
    background: #f94877;
}

.bgColor-23 {
    background: #9932CC;
}

.bgColor-24 {
    background: #008000;
}

.bgColor-25 {
    background: #BC8F8F;
}

.bgColor-26 {
    background: #FF1493;
}

.bgColor-27 {
    background: #BDB76B;
}

.bgColor-28 {
    background: #DAA520;
}

.bgColor-29 {
    background: #FF4500;
}

.bgColor-30 {
    background: #8A2BE2;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
}
/*=========================================全局共用属性CSS nie ===============================================*/ a, abbr, acronym, address, big, blockquote, body, caption, cite, code, dd, dl, dt, fieldset, form, h1,time, h2, h3, h4, h5, h6, html, img, ins, kbd, label, legend, li, ol, p, pre, q, s, samp, small, span, strike, strong, ul {border:0; outline:0; } body{font-family:Arial,'Open Sans',sans-serif,"Heiti SC","Helvetica","HelveticaNeue","Droidsansfallback","Droid Sans";font-size:16px; line-height:32px; text-align:left; background:#fff;font-style: normal;font-weight:100;color:#5a5b5c; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; margin:0; padding:0;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; } a:link,a:active,a:visited,a:hover {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent; }/*解决在移动端上，事件监听的元素被点击的时候会被高亮显示*/ button{border-radius:0px; -webkit-border-radius:0px; outline:none; } input{border-radius: 0; -webkit-appearance : none; -webkit-border-radius:0px;}/*input在ios上圆角*/ input,select{border-radius:0; outline:none; } input[type='checkbox']{-webkit-appearance :checkbox;} input:-ms-clear{display:none; }/*消除 IE10 里面的那个叉号*/ input,textarea{border:0; -webkit-appearance:none; } textarea {resize :none; outline:none; }/*去掉提交框右下角箭头*/ img{border:0; vertical-align:middle; MAX-WIDTH:100%!important; HEIGHT:auto!important; _width:expression(this.width > 100% ? "100%" :this.width)!important; } td{padding:8px 5px; } ul,li{list-style:none; } *{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-touch-callout:none; margin:0; padding:0;} *:after,*:before{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-touch-callout:none; margin:0; padding:0;} button{cursor:pointer; } /*这个可以不用*/ h1,h2,h3,h4,h5,h6 {font-weight: 700;font-variant: normal;white-space: normal;} /*全局的字体链接*/ a:link,a:visited{color:#42474e; text-decoration:none; } a:hover,a:active{color:rgb(212, 42, 42); text-decoration:underline; } .clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0px; } .container{clear:both;width:1440px;margin:0 auto;padding: 0px;} .container-1280{clear:both;width:1280px;margin:0 auto;padding: 0px;}/*1280分辨率屏幕*/ .container-960{clear:both;width:960px;margin:0 auto;padding: 0px;}/*960分辨率屏幕*/ @media (max-width: 1600px) { body{line-height:28px;} .container{width:1280px;} } @media (max-width: 1440px) { body{line-height: 26px; font-size:14px;} .container{width:1120px;} } @media (max-width: 1280px) { body{line-height: 24px;} .container{width:960px;} .container-1280{width:960px;} } @media screen and (max-width: 992px){ .container{width:750px;} .container-1280{width:750px;} .container-960{width:750px;} } @media screen and (max-width: 782px){ .container,.container-1280,.container-960{width:100%;} }