
@charset "UTF-8"; 

// 导入core中的基础文件
//-----------------------------------------------------
@import "core/_settings"; 
@import "core/_mixin"; 
@import "core/_reset"; 
@import "_iconfonts"; 
@import "transitions";

html,body,#app,#app > .el-container{
    margin:0; 
    padding:0; 
    height:100vh; 
    overflow:hidden; 
}
*,
*:after,
*:before {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box; 
    position:relative; 
}
.page-root{width:100%; height:100%; overflow:hidden; position: relative;}
.page-scroll{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px
    }
    &:hover::-webkit-scrollbar-thumb {
        background: hsla(0,0%,53%,.4)
    }
    &:hover::-webkit-scrollbar-track {
        background: hsla(0,0%,53%,.1)
    }
}
.page-content{
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}
.bgColor-1{background: #ff1744;}
.bgColor-2{background: #F50057;}
.bgColor-3{background: #D500F9;}
.bgColor-4{background: #651FFF;}
.bgColor-5{background: #3D5AFE;}
.bgColor-6{background: #2979FF;}
.bgColor-7{background: #00B0FF;}
.bgColor-8{background: #00E5FF;}
.bgColor-9{background: #1DE9B6;}
.bgColor-10{background: #00E676;}
.bgColor-11{background: #76FF03;}
.bgColor-12{background: #C6FF00;}
.bgColor-13{background: #FFEA00;}
.bgColor-14{background: #FFC400;}
.bgColor-15{background: #FF9100;}
.bgColor-16{background: #FF3D00;}
.bgColor-17{background: #795548;}
.bgColor-18{background: #9E9E9E;}
.bgColor-19{background: #607D8B;}
.bgColor-20{background: #131418;}
.bgColor-21{background: #00c300;}
.bgColor-22{background: #f94877;}
.bgColor-23{background: #9932CC;}
.bgColor-24{background: #008000;}
.bgColor-25{background: #BC8F8F;}
.bgColor-26{background: #FF1493;}
.bgColor-27{background: #BDB76B;}
.bgColor-28{background: #DAA520;}
.bgColor-29{background: #FF4500;}
.bgColor-30{background: #8A2BE2;}